body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; 
}

div#header {
  background-image: url('../images/MainHeader.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 700px; 
}

.round {
  background-color: blue;
  height: 125px;
  width: 125px;
  border-radius: 60px;
  background-position: center; 
}

.round_2 {
  background-color: blue;
  height: 260px;
  width: 260px;
  border-radius: 130px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#feature1 {
  background-image: url('../images/feature1.png');
  background-position: center; 
}

#feature2 {
  background-image: url('../images/feature2.png');
  background-position: center; 
}

#feature3 {
  background-image: url('../images/feature3.png');
  background-position: center;
}

#tanner {
  background-image: url('../images/Tanner.png')
}

#laura {
  background-image: url('../images/Laura.png');
}

header {
  margin-top:20px;
}

header h1 {
  margin:0;
  display: inline;
}

header nav {
  display: inline;
}

header nav ul {
  float: right;
  list-style-type:none;
  margin-top: 15px;
}

header nav ul li {
  display: inline;
  padding:0px 10px;
}

header nav ul li.selected {
  border-bottom: 4px solid #99cccc;
  padding-bottom: 10px;
}

header nav ul li a {
  color:#fff;
  text-decoration: none;
}

header nav ul li a:hover {
  color:rgba(236, 198, 135, 1)
}

h1,h2,h3,h5,p, nav {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h4,h6 {
  font-family: "Adriane Text", Palatino, Times, serif;
}

a, a:visited {
    color:#fff;
}

div#marketing {
  text-align:center;
  margin-top: 125px;
}

div#marketing h1 {
  font-weight: bold;
  color:#fff;
  text-shadow: 3px 3px #333;
  font-size: 60px;
  margin: 0;
}

div#marketing h4 {
  color:#fff;
  font-size: 24px;
  text-shadow: 1px 1px #333;
  margin-top: 10px;
}

div#marketing h6 {
  color: #fff;
  font-size: 14px;
}

div#features {
  text-align: center;
  background-color:#061859;
  opacity: .85;
  padding-bottom: 10px;
}

div#features h3 {
  font-weight: bold;
  font-size: 42px;
  text-shadow: 2px 2px #333;
  color:#fff;
  padding-top: 20px;
  padding-bottom: 10px;
}

div#features p {
  color:#fff;
}


div#marketing_2 {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-color:#333333;
  opacity: .8;
}

div#marketing_2 h3 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16 px;
  line-height: .5; 
}

div#screengrab {
  position: center; 
  margin-bottom: -10px;
}

.container_2 {
  width: 282px;
  height: auto;
}

.container_2 img {
  width: 100%;
  height: auto;
}


div#testimonials {
  text-align: center;
  padding:30px 0;
  background-color:#061859;
  opacity: .85;
  margin: 0px;
}

div#marketing_3 h2 {
  color:#fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-weight: 24px;
  text-shadow: 2px 2px #333;
  text-align: center; 
}

div#testimonials p {
  color: #fff; 
  text-align: left;
  margin-top: 10px;
}

div#marketing_2 button {
  margin-top: 15px;
}


div#footer {
  background-color: #99cccc;
  background-image: url('../images/FooterImage.jpg');
  background-position: 50% -55%;
  text-align: center;
}

div#final_call h2 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 2px 2px #333;
  font-weight: bold;
  font-size: 30px;
  padding-top: 20px;
  opacity: .9;
}

div#footer nav {
  margin-top:40px;
  float: left;
}

div#footer nav ul {
  list-style-type:none;
}

div#footer nav ul li {
  display: inline;
  padding-right: 10px;
}

div#footer nav ul li a {
  color:#fff;
  text-decoration: none;
}

div#footer p {
  margin-top: 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
}

div#footer nav ul li a:hover {
  color:#ecc687;
  text-decoration: none;
}

.right {
  text-align: right;
  margin-top: 20px;
}

.left {
  text-align: left;
  margin-top: 20px;
}

/* Mobile Responsive */

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
















